<div class="body-email">
    <center>
        <div class="mail">
            <div class="header-mail">
                <div class="text">
                    <h1>Chamado [{{id}}]</h1>
                </div>
            </div>
            <div class="body-mail">
                <p>Sua solicitação "{{title}}" para o sistema {{system}} foi concluído!</p>
            </div>
        </div>
    </center>
</div>